@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #04177f;
  --navbar-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1400px;
  margin: auto;
  width: 100%;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
